
@media screen and (max-width: 299px) {
    .glyphicon {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .glyphicon {
        font-size: 2em;
    }
}

@media screen and (min-width: 800px) {
    .glyphicon {
        font-size: 4.5em;
    }
}

.largura-limitada{
    max-width:1080px;
}

.cartas-container {
    max-width: 560px;
    display:flex;
    justify-content: center;
    align-items: stretch;
    align-self: center;
}


.invisivel {
    color:#fff;
    background-color: #fff;
    opacity: 0;
    font-size: 1px;
    
}
.cores-container{
    display:flex;
    flex-direction: row;
    align-self: auto;
    justify-content: space-between;
}

.selecionado-container{
   
    display:flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    

    width:140px;
    height:140px;
    max-width:378px;
    max-height: 378px;
    overflow: hidden;
}

#painel-personagem, #painel-resultado{
margin:8px;
padding:6px;
}

.painel-container {
    display:flex;
    flex-direction: row;
    width:235px;
    max-width: 370px;
    padding: 1px;
    margin:1px;
    
}

    
.carta{
    padding:3px;
    margin:3px;
    width:100px;
    height:100px;
    max-width:158px;
    max-height: 158px;
    display: flex;
    align-self: center;
    justify-content: left;

}

.card {
    object-fit: contain;
    max-width:120px;
    max-height:120px;
}

.carta img{
    object-fit: contain;
    max-width:120px;
    max-height:120px;
    
}

.cores{
    border:1px solid black;
    min-width: 45px;
    min-height: 45px;
    display:flex;
    
}

.container-novo {
    max-width:1030px;
    display:flex;
    flex-flow: row;
    justify-items:center;

}

.cores:hover {
    /* box-shadow: 5px 5px 5px 5px #1f4b7c; */
    box-shadow: 2px 2px 6px #525e14;
}

.senha-container {
    display:flex;
    flex-direction: row;
}

.senha img{
    max-width:50px;
    min-height: 45px;
}

.senha {
    margin:2px;
    
}

.senha:hover{
    transform: rotateY(180deg);
}

.p2{
    padding:1px;
}

.centralizada {
    margin:2px auto;
}

.painel-acerto {
    display:none;
}

.painel-erro {
    display:none;
}

#reiniciar {
    display: none;
}

.azul{
    background-color: blue;
}

.branco{
    background-color: white;
}
.preto{
    background-color: black;
}
.vermelho{
    background-color: red;
}
.verde{
    background-color: green;
}
.amarelo{
    background-color: yellow;
}
.rosa{
    background-color: pink;
}
.azul-escuro{
    background-color: darkblue;
}

.spin-container {
    display:flex;
    align-items: center;
}

.carta-girando-3d img {
    margin:5px;
    max-width: 60px;
    max-height: 60px;
}

.carta-girando-3d {
   
    
    -webkit-animation-name: spin3d;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin3d;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin3d;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin3d;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.girando3dhorizontal {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: rgb(0, 17, 255);
    -webkit-animation-name: spin3d;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin3d;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin3d;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin3d;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin3d {
    from { -ms-transform: rotateY(0deg); }
    to { -ms-transform: rotateY(360deg); }
}
@-moz-keyframes spin3d {
    from { -moz-transform: rotateY(0deg); }
    to { -moz-transform: rotateY(360deg); }
}
@-webkit-keyframes spin3d {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@keyframes spin3d {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}

.girando2dhorario {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #f00;
    -webkit-animation-name: spin2d;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin2d;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin2d;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin2d;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin2d {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin2d {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin2d {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin2d {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.carta-girando-180-3d {


    -webkit-animation-name: spind;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spind;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spind;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spind;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@-ms-keyframes spind {
    from { -ms-transform: rotateY(0deg); }
    to { -ms-transform: rotateY(180deg); }
}
@-moz-keyframes spind {
    from { -moz-transform: rotateY(0deg); }
    to { -moz-transform: rotateY(180deg); }
}
@-webkit-keyframes spind {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(180deg); }
}
@keyframes spind {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(180deg);
    }
}

.carta-girando-x {
   
    
    -webkit-animation-name: spinx;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinx;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinx;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spinx;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@-ms-keyframes spinx {
    from { -ms-transform: rotateX(0deg); }
    to { -ms-transform: rotateX(360deg); }
}
@-moz-keyframes spinx {
    from { -moz-transform: rotateX(0deg); }
    to { -moz-transform: rotateX(360deg); }
}
@-webkit-keyframes spinx {
    from { -webkit-transform: rotateX(0deg); }
    to { -webkit-transform: rotateX(360deg); }
}
@keyframes spinx {
    from {
        transform:rotateX(0deg);
    }
    to {
        transform:rotateX(360deg);
    }
}